/**=====================
    Custom dropdown css start
==========================**/
.custom-dropdown {
    @extend %dark-scroll;

    .dropdown-menu {
        top: 20px;
        transform: translate3d(-306px, 18px, 0px);
        border: none;
        padding: 0;
        box-shadow: $dropdown-shadow;
        min-width: 16rem;
        z-index: 2;

        &:after {
            content: '';
            position: absolute;
            top: -10px;
            left: 5%;
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 10px solid rgba(var(--white), 1);
        }

        .dropdown-header {
            padding: 15px 15px 15px;
            border-bottom: 1px solid rgba(var(--theme-light), 1);
            display: flex;
            align-items: center;

            span {
                color: rgba(var(--title-color), 1);
                text-transform: capitalize;
                font-size: $h4-size;
                font-weight: 600;
            }

            .mobile-close {
                display: none;
                margin-left: auto;

                h5 {
                    text-transform: capitalize;
                    font-weight: 600;
                    color: rgba(var(--theme-color), 1);
                }
            }
        }

        .search-bar {
            padding: 0 12px;

            &.input-style {
                &.icon-left {
                    .icon {
                        left: 20px;
                    }
                }
            }
        }

        .dropdown-content {
            margin: 8px 0;
            max-height: 240px;
            overflow: auto;

            .friend-list {
                .media {
                    align-items: center;

                    img {
                        width: 40px;
                        height: 40px;
                        margin-right: 10px;
                        border-radius: $radius-100;
                    }

                    svg {
                        width: 20px;
                        height: 20px;
                        color: rgba(var(--font-color), 1);
                        margin-right: 10px;
                        margin-left: 10px;
                    }

                    .media-body {
                        h5 {
                            font-family: $font-1;
                            color: rgba(var(--title-color), 1);
                            text-transform: capitalize;
                            font-weight: 600;
                            margin-bottom: 3px;
                        }

                        h6 {
                            text-transform: capitalize;
                            color: rgba(var(--font-color), 1);
                            font-weight: 500;
                        }

                        >div {
                            margin-bottom: -5px;
                        }
                    }
                }

                .action-btns {
                    margin-left: auto;

                    .btn {
                        padding: 5px 12px;
                        font-size: $small-size;
                    }
                }

                li {
                    margin: 0 6px;
                    padding: 12px 6px;
                    display: flex;
                    align-items: center;
                    transition: all 0.5s ease;

                    a {
                        width: 100%;
                    }

                    &:hover {
                        background-color: rgba(var(--theme-light), 1);
                        transition: all 0.5s ease;
                    }
                }
            }
        }

        &.dropdown-menu-right {
            &:after {
                left: unset;
                right: 5%;
            }
        }

        &.top-0 {
            top: 0 !important;
        }
    }

    &.arrow-none {
        .dropdown-menu {
            top: 0 !important;

            &:after {
                display: none;
            }
        }
    }

    &.dropdown-sm {
        .dropdown-menu {
            min-width: 10rem;
        }
    }

    &.dropdown-lg {
        .dropdown-menu {
            min-width: 22rem;
        }
    }

    &.profile-btn {
        .dropdown-menu {
            &.dropdown-menu-right {
                &:after {
                    right: 50%;
                }
            }

            .dropdown-content {
                .friend-list {
                    li {
                        padding: 18px 6px;
                    }
                }
            }
        }
    }
}

.setting-dropdown {
    .btn-transparent {
        padding: 0;
        border: none;
    }

    ul {
        padding: 5px;

        li {
            padding: 8px 10px;
            transition: all 0.5s ease;

            a {
                color: rgba(var(--font-color), 1);
                text-transform: capitalize;
                font-size: $h6-size;
                display: flex;
                align-items: center;

                img,
                svg {
                    margin-right: 10px;
                }
            }

            +li {
                border-top: 1px solid rgba(var(--font-color), 0.1);
            }

            &:hover {
                background-color: rgba(var(--font-color), 0.1);
                transition: all 0.5s ease;
            }
        }
    }
}

// mobile dropdown overlay
.header-overlay {
    header {
        .header-section {
            .header-btn {
                &.show {
                    z-index: 9;
                }
            }
        }
    }
}