/**=====================
    Pagination css start
==========================**/
.theme-pagination {
    justify-content: center;

    .page-link {
        border: 0;
    }

    .page-item {
        &.active {
            .page-link {
                background-color: rgba(var(--theme-color), 1);
                border-radius: $radius-100;
                color: rgba(var(--white), 1);
                z-index: 1;
            }
        }

        .page-link {
            border: 0;
            padding: 0;
            margin: 0 6px;
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: rgba(var(--title-color), 1);

            &:hover {
                background-color: transparent;
            }
        }
    }
}