/**=====================
    Popover css start
==========================**/
.popover {
    border: 0;
    box-shadow: 1px 0px 8px rgba(var(--black), 0.12);

    .popover-body {
        padding: 15px !important;
        position: relative;
    }
}

.popover-loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;

    &.show {
        display: block;
    }
}

.popover-media {
    align-items: center;
    width: 250px;

    .user-img {
        width: 60px;
        height: 60px;
        border-radius: $radius-100;
        object-fit: cover;
        overflow: hidden;
    }

    .media-body {
        margin-left: 15px;

        h4 {
            text-transform: capitalize;
            color: rgba(var(--title-color), 1);
            font-weight: 500;
            margin-bottom: 5px;
        }

        h6 {
            color: rgba(var(--font-color), 1);
            font-size: 14px;
            line-height: 1.5;
            text-transform: capitalize;
            display: flex;
            align-items: center;

            img {
                width: 15px;
                height: 15px;
                opacity: 0.4;
                margin-right: 8px;
            }
        }
    }
}

.button-popover {
    display: flex;
    align-items: center;
    margin-top: 12px;

    .btn {
        padding: 6px 10px;
        font-size: 10px;

        img {
            width: 16px;
            height: 16px;
            filter: invert(1);
            margin-right: 5px;
        }

        &:hover {
            background-color: rgba(var(--theme-color), 1);
            color: rgba(var(--white), 1);
        }
    }

    a {
        &:first-child {
            width: 80%;
            margin-right: 10px;
        }

        &:nth-child(2) {
            width: 20%;
        }
    }
}

.notifyjs-bootstrap-success {
    background-color: rgba(var(--theme-light), 1) !important;
    border-color: rgba(var(--theme-light), 1) !important;
}