.customDropDownOpen {
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0;
  transform: translate(0px, 20px);
}

.userProfile {
  background-image: url("../../images/user-sm/1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

.friendSectionUser1 {
  background-image: url("../../images/user-sm/1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

.friendSectionUser2 {
  background-image: url("../../images/user-sm/2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

.friendSectionUser3 {
  background-image: url("../../images/user-sm/3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

.friendSectionUser4 {
  background-image: url("../../images/user-sm/4.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

.friendSectionUser5 {
  background-image: url("../../images/user-sm/5.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

.friendSectionUser6 {
  background-image: url("../../images/user-sm/6.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

.friendSectionUser7 {
  background-image: url("../../images/user-sm/7.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

.storySectionAddStories {
  background-image: url("../../images/story-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

.storySectionUser1 {
  background-image: url("../../images/story/6.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

.storyModalUser0 {
  background-image: url("../../images/story-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}