/**=================================
    Chatbox css start
====================================**/
/**** Chat Popup Layout******/
.chat-box {
    position: fixed;
    bottom: -5px;
    width: 300px;
    background: rgba(var(--white), 1);
    border-radius: $radius-10 $radius-10 0px 0px;
    z-index: 9;
    box-shadow: 0 0 8px rgba(var(--black), 0.12);
    @extend %dark-scroll;
}

.chat-header {
    display: flex;
    border-radius: $radius-10 $radius-10 0 0;
    align-items: center;
    padding: 15px;
    background-color: rgba(var(--white), 1);

    .name {
        position: relative;
        line-height: 40px;
        display: flex;
        align-items: center;
        flex: 2;
        position: relative;

        .user-img {
            width: 30px;
            height: 30px;
            border-radius: $radius-100;
            margin-right: 10px;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            .available-stats {
                position: absolute;
                right: 0;
                top: 0;
                width: 12px;
                height: 12px;
                border-radius: $radius-100;

                &.online {
                    border: 3px solid rgba(var(--white), 1);
                    background-color: rgba(var(--theme-success), 1);
                }

                &.offline {
                    border: 3px solid rgba(var(--white), 1);
                    background-color: rgba(var(--theme-danger), 1);
                }

                &.away {
                    border: 3px solid rgba(var(--white), 1);
                    background-color: rgba(var(--theme-warning), 1);
                }
            }
        }

        span {
            font-weight: 500;
            color: rgba(var(--title-color), 1);
            font-size: $h5-size;
            text-transform: capitalize;
            width: 70px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .menu-option {
        ul {
            display: flex;
            position: relative;
            align-items: center;

            li {
                cursor: pointer;

                img {
                    width: 16px;
                    opacity: 0.6;
                }

                i {
                    font-size: $h2-size;
                    color: rgba(var(--white), 1);
                }

                +li {
                    margin-left: 10px;
                }
            }
        }
    }
}

.chat-wrap {
    .chat-body {
        box-shadow: inset 0px 6px 6px 0px rgba(var(--black), 0.04);
        height: 220px;
        font-size: $h6-size;
        padding: 15px;
        overflow: auto;
        overflow-x: hidden;
    }

    .chat-footer {
        box-shadow: 0px -6px 6px 0px rgba(var(--black), 0.03);
        border-radius: $radius-10 $radius-10 0 0;
        position: relative;
        display: flex;
        align-items: center;

        ::placeholder {
            color: rgba(var(--font-color), 0.7);
            text-transform: capitalize;
        }

        .chat-input {
            width: 100%;
            height: 50px;
            padding: 10px;
            border: none;
            box-sizing: border-box;
            font-size: $h6-size;
            color: rgba(var(--font-color), 1);
        }

        .add-extent {
            margin-right: 18px;
            i {
                cursor: pointer;
                position: absolute;
                right: 18px;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                background-color: rgba(var(--theme-light), 1);
                top: 15%;
                transition: all 0.5s ease;
                color: rgba(var(--font-color), 1);
            }

            .options {
                position: absolute;
                right: 13px;
                bottom: 50%;
                background-color: rgba(var(--white), 1);
                padding: 10px 5px;
                border-radius: $radius-20;
                box-shadow: 0px 5px 7px 1px rgba(var(--black), 0.09);
                height: 0;
                opacity: 0;
                visibility: hidden;

                li {
                    width: 30px;
                    height: 30px;
                    background-color: rgba(var(--theme-light), 1);
                    border-radius: $radius-100;
                    padding: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    img {
                        width: 16px;
                        filter: invert(1);
                    }

                    +li {
                        margin-top: 6px;
                    }

                    &:nth-child(1) {
                        background-color: skyblue;
                    }

                    &:nth-child(2) {
                        background-color: orangered;
                    }

                    &:nth-child(3) {
                        background-color: orange;
                    }
                }
            }

            &.show {
                i {
                    transform: rotate(45deg);
                    transition: all 0.5s ease;
                }

                .options {
                    opacity: 1;
                    visibility: visible;
                    height: auto;
                    bottom: 100%;
                    transition: all 0.5s ease;
                }
            }
        }
    }
}

.msg-left {
    position: relative;
    background: rgba(var(--black), 0.05);
    padding: 5px;
    min-height: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 5px;
    word-break: break-all;
}

.msg-right {
    margin-bottom: 5px;
    position: relative;
    text-align: right;

    span {
        background: rgba(var(--theme-light), 1);
        min-height: 15px;
        padding: 5px 15px;
        border-radius: $radius-10;
        display: inline-block;
        max-width: 90%;
        word-break: break-all;
        color: rgba(var(--font-color), 1);
    }
}