/**=====================
    Element page css start
==========================**/
.element-card {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    li,
    span,
    dt,
    dd,
    p,
    label {
        color: rgba(var(--black), 1);
    }

    .card-header {
        background-color: transparent;
        border-bottom: none;
        border-radius: 0;
        padding: 0 0 20px 0;

        h4 {
            text-transform: capitalize;
            font-weight: 500;
            color: rgba(var(--title-color), 1);
            font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1920 - 320)));
        }

        span {
            line-height: 30px;
            color: rgba(var(--font-color), 1);

        }
    }

    .card-body {
        padding: 0;
    }
}

.element-space {
    padding-top: 30px !important;
}

// element map
.element-map {
    margin-bottom: -30px;

    .element-card {
        margin-bottom: 30px;
    }

    .map-wrapper {
        height: 430px;
    }
}

// element icon page
.icon-usage {
    .icon-box {
        display: flex;
        align-items: center;
        padding: 20px 40px;

        svg {
            .fill-color {
                fill: rgba(var(--title-color), 1);
            }
        }

        p {
            width: 80%;
            margin-left: 45px;
            font-size: 16px;
            line-height: 26px;

            code {
                font-size: 16px;
                color: rgba(var(--font-color), 1);
            }
        }

        &.full-view {
            display: block;
            padding: 0 0;

            .icon-group {
                background-color: rgba(var(--black), 0.06);
                padding: 20px;

                svg {
                    +svg {
                        margin-left: 25px;
                    }
                }
            }

            p {
                width: 100%;
                margin-left: 0;
                margin-top: 20px;
            }
        }
    }
}

.theme-icons {
    .icon-box {
        margin-bottom: 30px;

        h4 {
            color: rgba(var(--font-color), 1);
            font-family: $font-1;
            margin-top: 10px;
        }
    }
}

.element-emoji {
    li {
        width: 60px;
        display: inline-block;
        padding: 10px;
    }

    &.weather-icon {
        li {
            img {
                width: 60px;
            }
        }
    }
}

// element modal
.element-modal {
    margin-bottom: -40px;

    .modal-box {
        margin-bottom: 40px;

        .card {
            border: none;
            border-radius: $radius-5;
            overflow: hidden;
            box-shadow: 1px 3px 8px rgba(var(--black), 0.04);
        }

        .card-body {
            text-align: center;

            .card-title {
                font-size: 16px;
                justify-content: center;
                text-transform: capitalize;
                font-weight: 500;
                margin-bottom: 15px;
            }
        }
    }
}

// element button
.element-btn {
    .btn {
        margin: 5px;
    }
}

// typography section
.typography-section {

    p,
    li {
        line-height: 28px;
    }

    .sub-title {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 5px;
        margin-bottom: 8px;
        font-size: 18px;
        color: rgba(var(--title-color), 1);
        text-transform: capitalize;
    }

    .heading-content {

        h1,
        h2,
        h3,
        h4,
        h5 {
            margin-bottom: 15px;
        }
    }

    .color-cls {
        .color-box {
            width: 100%;
            height: 50px;
            background-color: rgba(var(--theme-color), 1);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: $radius-5;
            color: rgba(var(--white), 1);
        }

        >div {
            &:nth-child(2) {
                .color-box {
                    background-color: rgba(var(--theme-light), 1);
                    color: rgba(var(--title-color), 1);
                }
            }
        }
    }
}