/**=====================
    hashtag css start
==========================**/
.hashtag-list {
    background-color: rgba(var(--white), 1);
    border-radius: $radius-5;
    box-shadow: $card-shadow;

    .card-title {
        padding: 26px 35px;
        border-bottom: 1px solid rgba(var(--theme-light), 1);
    }

    .hashtag-content {
        ul {
            padding: 10px 0;

            li {
                position: relative;
                padding: 12px 30px;

                h5 {
                    color: rgba(var(--theme-color), 1);
                    font-weight: 600;
                    margin-bottom: 5px;
                }

                h6 {
                    text-transform: capitalize;
                    color: rgba(var(--font-color), 1);
                    font-weight: 500;
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 3px;
                    }
                }
            }
        }
    }
}