/**=====================
    like page list css start
==========================**/

.page-list {
    background-color: rgba(var(--white), 1);
    border-radius: $radius-5;
    box-shadow: $card-shadow;

    .card-title {
        padding: 26px 35px;
    }

    .list-content {
        ul {
            li {
                position: relative;
                padding: 22px 30px;
                border-top: 1px solid rgba(var(--theme-light), 1);

                .media {
                    align-items: center;

                    .img-part {
                        width: 50px;
                        height: 50px;
                        border-radius: $radius-100;
                        margin: 0 auto;
                    }

                    .media-body {
                        margin-left: 14px;

                        h4 {
                            color: rgba(var(--title-color), 1);
                            text-transform: capitalize;
                            font-weight: 500;
                            margin-bottom: 4px;
                        }

                        h6 {
                            text-transform: capitalize;
                            color: rgba(var(--font-color), 1);
                            font-size: 14px;

                            span {
                                margin-left: 8px;

                                img,
                                svg {
                                    margin-right: 3px;
                                    margin-top: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.favorite-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: $radius-100;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 30px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(var(--theme-light), 1);
        border-radius: $radius-100;
        transform: scale(0);
        z-index: -1;
        transition: all 0.5s ease;
    }

    img,
    svg {
        opacity: 0.6;
        transition: all 0.5s ease;
    }

    &.active {
        &:after {
            transform: scale(1);
            transition: all 0.5s ease;
        }

        img,
        svg {
            opacity: 1;
            transition: all 0.5s ease;
        }
    }
}