/**=====================
    story css start
==========================**/
.story-section {
    margin-bottom: -5px;

    .story-box {
        position: relative;
        border-radius: $radius-10;
        cursor: pointer;

        .story-bg {
            background-blend-mode: overlay;
            border-radius: $radius-10;
        }

        .add-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            .icon {
                width: 50px;
                height: 50px;
                margin: 0 auto;
                background-color: rgba(var(--white), 0.1);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: $radius-100;
            }

            h6 {
                text-transform: capitalize;
                color: rgba(var(--white), 1);
                margin-top: 16px;
            }
        }

        .story-content {
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 7px 20px;
            width: 100%;

            h6 {
                color: rgba(var(--white), 1);
                text-transform: capitalize;
                font-family: $font-1;
                font-weight: 500;
                opacity: 0.9;
                max-width: 100px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            span {
                color: rgba(var(--white), 1);
                text-transform: capitalize;
                opacity: 0.9;
                font-size: 12px;
            }
        }

        .story-setting {
            position: absolute;
            right: 16px;
            top: 16px;
            padding: 2px 5px 0;
            background-color: transparent;
            border-radius: 100%;
            transition: all 0.5s ease;

            svg {
                transition: all 0.5s ease;
            }
        }

        .adaptive-overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: $radius-10;
        }

        &.add-box {
            padding: 7px;
            border: 2px solid rgba(var(--theme-color), 0.15);

            >div {
                border-radius: $radius-5;
            }

            .bg-size {
                &:before {
                    padding-top: 118%;
                }

                &:after {
                    content: "";
                    // background-image: linear-gradient(0deg, $gradient-1 0%, $gradient-2 100%);
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    position: absolute;
                    background-color: rgba(var(--theme-color), 1);
                    opacity: 0.8;
                    border-radius: $radius-5;
                    z-index: -1;
                }
            }
        }

        &:hover {
            .story-setting {
                background-color: rgba(var(--theme-light), 1);
                transition: all 0.5s ease;

                svg {
                    stroke: rgba(var(--font-color), 0.6) !important;
                    transition: all 0.5s ease;
                }
            }
        }
    }
}


.adaptive-overlay {
    background: linear-gradient(0deg, rgba(var(--black), 1) 0%, rgba(0, 212, 255, 0) 100%);

    &.pink-overlay {
        background: linear-gradient(0deg, rgba(#ed8079, 1) 0%, rgba(0, 212, 255, 0) 100%);
    }

    &.yellow-overlay {
        background: linear-gradient(0deg, #fcd101 0%, rgba(0, 212, 255, 0) 100%);
    }

    &.blue-overlay {
        background: linear-gradient(0deg, #174d76 0%, rgba(0, 212, 255, 0) 100%);
    }

    &.skin-overlay {
        background: linear-gradient(0deg, #a38a7b 0%, rgba(0, 212, 255, 0) 100%);
    }

    &.orange-overlay {
        background: linear-gradient(0deg, #e18d1e 0%, rgba(0, 212, 255, 0) 100%);
    }
}