/**=====================
    Carrer Pages css start
==========================**/

.career-section {
    margin-bottom: -40px;

    .title {
        text-align: center;

        h3 {
            text-transform: capitalize;
            font-weight: 600;
            margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
            font-size: calc(24px + (34 - 24) * ((100vw - 320px) / (1920 - 320)));
            color: rgba(var(--title-color), 1);
        }
    }

    .career-box {
        box-shadow: 0 0 8px rgba(var(--black), 0.05);
        border-radius: $radius-10;
        padding: 25px;
        margin-bottom: 40px;
        min-height: 250px;
        display: grid;

        &:hover {
            h4 {
                color: rgba(var(--theme-color), 1);
                transition: color 0.3s ease;
            }
        }

        h4 {
            font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
            text-transform: capitalize;
            color: rgba(var(--title-color), 1);
            font-weight: 500;
            letter-spacing: 0.5px;
        }

        p {
            -webkit-line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            margin-top: 10px;
            color: rgba(var(--font-color), 0.7);
            line-height: 25px;
        }

        .requirement-sec {
            padding-bottom: 20px;
            text-align: right;
            display: flex;
            align-items: center;
            margin-top: 15px;

            h6 {
                padding: 5px 10px;
                background-color: rgba(var(--black), 0.03);
                border-radius: 3px;
                color: rgba(var(--title-color), 1);

                +h6 {
                    margin-left: 8px;
                }
            }
        }

        .button-sec {
            margin-left: -5px;
            margin-right: -5px;

            >div {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}

.career-sidebar {
    .detail-wrapper {
        padding: 25px;
        box-shadow: 0 0 8px rgba(var(--black), 0.05);
        border-radius: $radius-5;

        .btn {
            margin-top: 16px;
        }
    }

    .sidebar-title {
        h5 {
            text-transform: capitalize;
            font-weight: 700;
            font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: 20px;
            color: rgba(var(--title-color), 1);
        }
    }
}

.career-about {
    .career-img {
        height: 280px;
        margin-bottom: 25px;
        border-radius: $radius-5;
    }

    .career-content {
        p {
            font-weight: 400;
            color: rgba(var(--font-color), 0.7);
            margin-bottom: calc(10px + (25 - 10) * ((100vw - 300px) / (1920 - 300)));
            line-height: 28px;
            font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1920 - 300)));
            letter-spacing: 0.05em;
        }

        ul {
            margin-bottom: calc(10px + (25 - 10) * ((100vw - 300px) / (1920 - 300)));

            li {
                font-weight: 400;
                color: rgba(var(--font-color), 0.7);
                line-height: 28px;
                font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1920 - 300)));
                letter-spacing: 0.05em;
            }
        }

        .content-title {
            h5 {
                margin-bottom: 7px;
                font-size: 18px;
                color: rgba(var(--title-color), 1);
                line-height: 28px;
                text-transform: capitalize;
                font-weight: 500;
            }
        }
    }
}

.career-perks {
    margin-bottom: -20px;

    .career-wrap {
        display: flex;
        padding: 20px;
        margin-bottom: 20px;
        transition: all 0.5s ease;

        svg {
            width: 50px;
            stroke: rgba(var(--theme-color), 1);
        }

        .content {
            margin-left: 15px;

            h3 {
                text-transform: capitalize;
                font-weight: 500;
                margin-bottom: 5px;
                color: rgba(var(--title-color), 1);
            }

            p {
                color: rgba(var(--font-color), 0.7);
                line-height: 22px;
                font-size: 15px;
            }
        }

        &.active,
        &:hover {
            box-shadow: 0 0 8px rgba(var(--black), 0.08);
            border-radius: $radius-5;
            transition: all 0.5s ease;

            h3 {
                color: rgba(var(--theme-color), 1);
                transition: all 0.5s ease;
            }
        }
    }
}