/**=====================
    default variables
==========================**/
:root {
    //color variables
    --black: 0, 0, 0; //#000000
    --white: 255, 255, 255; //#ffffff
    --theme-color: 3, 137, 201; //#0389c9
    --theme-light: 237, 247, 251; //#edf7fb
    --title-color: 81, 89, 94; //#51595e
    --font-color: 100, 117, 137; //#647589
    --theme-danger: 255, 47, 37; //#ff2f25
    --theme-success: 43, 198, 12; //#2bc60c
    --theme-warning: 255, 144, 55; //#ff9037
    --label-danger: 193, 35, 47; //#c1232f
    --landing-bg: rgba(243, 248, 254, 0.52);

    // Light Color
    --light-font: rgba(var(--font-color), 0.7);
    --light-border: rgba(var(--font-color), 0.1);

    // social color
    --facebook: 56, 92, 180; //#385cb4
    --twitter: 0, 160, 221; //#00a0dd
    --whatsapp: 26, 188, 86; //#1abc56
    --instagram: 183, 68, 231; //#b744e7
    --youtube: 254, 70, 83; //#fe4653

    $lighten-color: rgba(3, 137, 201, 1)
}

// shadow
$light-shadow: 0 0 8px 0 rgba(var(--black), 0.05);
$dark-shadow: 0 0 8px 0 rgba(var(--black), 0.14);
$dropdown-shadow:0 1px 5px 0 rgba(var(--black), 0.1);
$card-shadow: 0px 5px 20px 0px rgba(var(--black), 0.02);

// Font family
$font-1: 'Montserrat',
sans-serif;
$font-2: 'Roboto',
sans-serif;

//font size
$h1-size: calc(28px + (36 - 28) * ((100vw - 320px) / (1920 - 320)));
$h2-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1920 - 320)));
$h3-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
$h4-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
$h5-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
$h6-size: calc(11px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
$medium-size: calc(11px + (13 - 11) * ((100vw - 320px) / (1920 - 320)));
$small-size:11px;
$xs-size: 8px;

// border-radius 
$radius-5: 5px;
$radius-10: 10px;
$radius-15: 15px;
$radius-20: 20px;
$radius-25: 25px;
$radius-100: 100%;